form#formWrite.form-horizontal(role='form', method='post')
    include registration

.form-group
    .col-sm-offset-2.col-sm-10.text-center
        .submit
            button#btnWrite.btn.btn-info.btn-fill.btn-lg(type='button') 온라인 예약하기