extends layout

block content

    #reservation.section
        hr
        .container
            h2.section-title 온라인 예약
            .row
                .col-md-8
                    p
                        | 출발 항구는
                        strong 통영 유람선 터미널
                        |  입니다.
                        br
                        br
                    include includes/registration_write
                .col-md-3.col-md-offset-1
                    .contact-info.text-center
                        br
                        br
                        br
                        h5
                            i.fa.fa-map-marker.text-muted
                            |  통영 유람선 터미널
                        p.text-muted
                            | 경상남도 통영시
                            br
                            | 도남로 269-38
                            br
                            | (통영시 도남동 634번지)
                        br
                        h5
                            i.fa.fa-phone.text-muted
                            | 전화문의 및 예약
                        p.lead
                            center.lead 1661-4428
                        br
                        // Button trigger modal
                        button.btn.btn-primary(data-toggle='modal', data-target='#myModal')
                            | Launch demo modal


block javascript
    script(type='text/javascript').

        $("#formWrite").submit(function (e) {

            var dataJSON = {};
            var dataArray = $(this).serializeArray();
            $.each(dataArray, function (i, v) {
                dataJSON[v.name] = v.value;
            });

            var formURL = $(this).attr("action");

            $.ajax({
                url: formURL,
                type: "POST",
                data: dataJSON,
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    $('.alert-success .container').html('<b>예약이 완료되었습니다. </b> 예약 내역을 조회/수정/삭제하실 수 있습니다. (전화 문의 1661-4428)');
                    $('.alert-success').show( "slow", function() {});
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //if fails
                    console.error(textStatus);
                }
            });

            e.preventDefault(); //STOP default action
            e.unbind(); //unbind. to stop multiple form submit.
        });

        $("#btnWrite").click(function () {
            $("#formWrite").submit();
        });
