extends layout

block content

    #reservation.section
        hr
        .container
            h2.section-title 온라인 예약
            .row
                .col-md-8
                    p
                        | 출발 항구는 &nbsp;
                        strong "통영 유람선 터미널"
                        |  입니다.
                        br
                        br
                    include includes/registration_write
                .col-md-3.col-md-offset-1
                    .contact-info.text-center
                        br
                        br
                        br
                        h5
                            i.fa.fa-map-marker.text-muted
                            |  통영 유람선 터미널
                        p.text-muted
                            | 경상남도 통영시
                            br
                            | 도남로 269-38
                            br
                            | (통영시 도남동 634번지)
                        br
                        h5
                            i.fa.fa-phone.text-muted
                            | 전화문의 및 예약
                        p.lead
                            center.lead 1661-4428
                        br
                        // Button trigger modal
                        button.btn.btn-primary(data-toggle='modal', data-target='#reservationModal')
                            | Launch demo modal


block javascript
    script(type='text/javascript').

        $("#formWrite").submit(function (e) {

            $('.alert-success').hide();

            var dataJSON = {};
            var dataArray = $(this).serializeArray();
            $.each(dataArray, function (i, v) {
                dataJSON[v.name] = v.value;
            });

            var formURL = $(this).attr("action");

            $.ajax({
                url: formURL, type: "POST", data: dataJSON, dataType: 'json'
            }).done(function (data) {
                resetFormWrite();
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                $('.alert-success .alertMessage').html('<b>예약이 완료되었습니다. </b> 예약 내역을 조회/수정/삭제하실 수 있습니다. (전화 문의 1661-4428)');
                $('.alert-success').show();

            }).fail(function () {
                alert("error");
            });

            e.preventDefault();
        });

        $("#btnWrite").click(function () {
            $("#formWrite").submit();
        });

        $("#formCheck").submit(function (e) {

            var dataJSON = {};
            var dataArray = $(this).serializeArray();
            $.each(dataArray, function (i, v) {
                dataJSON[v.name] = v.value;
            });

            var formURL = $(this).attr("action");

            console.log(dataJSON, formURL);

            $.ajax({
                url: formURL, type: "POST", data: dataJSON, dataType: 'json'
            }).done(function (data) {

                if (data) {

                    $("#resnoModal").on('hidden.bs.modal', function (e) {
                        $('#reservationModal').modal('show');
                        $('#resnoModal').off('hidden.bs.modal');
                    });

                    $("#resnoModal").modal('hide');

                    $.each(data, function (key, value) {
                        var target = $("#formModify #" + key);
                        if (target.is("select")) {
                            $("#formModify #" + key + " option[selected]").removeAttr("selected");
                            $("#formModify #" + key + " option[value=" + value + "]").attr('selected', 'selected');
                        } else {
                            target.val(value);
                        }
                        target.change();
                    });


                } else {
                    $('.alert-warning').show();
                    $("#formCheck #resno").focus();
                }

            }).fail(function () {
                alert("error");
            });

            e.preventDefault();
        });

        $("#resnoModal").on('shown.bs.modal', function (e) {
            $('.alert-success').hide();
            $('.alert-warning').hide();
            $("#formCheck #resno").val('');
            $("#formCheck #resno").focus();
        });

        $("#reservationModal").on('shown.bs.modal', function (e) {
            $('.alert-success').hide();
            $("#formModify #resno").attr("readonly",true);
        });

        $("#resnoModal #btncheck").click(function () {
            $("#formCheck").submit();
        });


        var submitResModal = function (action) {
            var dataJSON = {};
            var dataArray = $("#formModify").serializeArray();
            $.each(dataArray, function (i, v) {
                dataJSON[v.name] = v.value;
            });

            $.ajax({
                url: "/reservation/"+action, type: "POST", data: dataJSON, dataType: 'json'
            }).done(function (data) {

                $('#reservationModal').modal('hide');

                $('.alert-success .alertMessage').html('<b>정상 처리되었습니다. </b> (전화 문의 1661-4428)');
                $('.alert-success').show();

            }).fail(function () {
                alert("error");
            });

        };

        var resetFormWrite = function () {
            $("#formWrite").get(0).reset();
            $("#formWrite #time option[selected]").removeAttr("selected");
            $("#formWrite #time option[selected]").change();
            $("#formWrite #cnt1 option[selected]").removeAttr("selected");
            $("#formWrite #cnt1 option[selected]").change();
            $("#formWrite #cnt2 option[selected]").removeAttr("selected");
            $("#formWrite #cnt2 option[selected]").change();
            $("#formWrite #cnt3 option[selected]").removeAttr("selected");
            $("#formWrite #cnt3 option[selected]").change();
            $("#formWrite #cnt4 option[selected]").removeAttr("selected");
            $("#formWrite #cnt4 option[selected]").change();
        };


        $("#reservationModal #btnModify").click(function () {
            submitResModal("update");
        });

        $("#reservationModal #btnDelete").click(function () {
            submitResModal("remove");
        });




