doctype html
html
    include ./includes/head.jade
    body.home

        include ./includes/nav.jade

        .wrapper

            include ./includes/info.jade

            block content

            include ./includes/footer.jade

        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#myModalLabel.modal-title 예약 변경 및 삭제
                    .modal-body
                        p 예약 내역을 수정하거나 삭제할 수 있습니다.
                        include ./includes/registration_modify.jade
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal', value='닫기')

    include ./includes/javascript.jade

    block javascript