extends layout_base

block content
    .parallax.filter-black
        .parallax-image
            img(src='/assets/img/examples/about_5.jpg')
        .company-description
            h2 명품과의 만남
            p
                | 한국 관광 100선에 선정된 &nbsp;
                b 장사도
                | 와
                br
                | 새로운 영역의 창의예술 &nbsp;
                b 통영옻칠미술관
                br
                | 그리고, 진정한 휴식을 추구하는 &nbsp;
                b 클럽ES
                | 가
                br
                |  자신있게 준비하였습니다.
    .section.section-description(style="padding-bottom: 5px;")
        .container
            .row
                .col-md-6.text-center
                    h2.section-title.text-center(style="margin-top: 1px;")
                        small 『명품과의 만남』 - 시즌 Ⅰ
                        br
                        | 장사도패키지 투어
                        br
                        small
                            strong "만족을 넘어 감동까지 생각했습니다."
                    p.text-left
                        strong 대 상 : &nbsp;
                        | 사전 예약고객 선착순 1일 100명
                    p.text-left
                        strong 특 전 :
                        br
                        table.table
                            tbody
                                tr.info
                                    td.text-center 카&nbsp;&nbsp;&nbsp;&nbsp;페&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;음&nbsp;&nbsp;&nbsp;&nbsp;료
                                    td.text-left &#xffe6; 4,000 ~
                                    td.text-center 30% 할인
                                tr.info
                                    td.text-center 장사도&nbsp;옻칠회화관
                                    td.text-left &#xffe6; 2,000
                                    td.text-center 무 료
                                tr.info
                                    td.text-center 통&nbsp;&nbsp;&nbsp;영&nbsp;옻칠회화관
                                    td.text-left &#xffe6; 3,000
                                    td.text-center 무료 (회화관 관람고객 희망시 제공)
                                tr.info
                                    td.text-center 체&nbsp;류&nbsp;시&nbsp;간&nbsp;&nbsp;&nbsp;연&nbsp;장
                                    td.text-left 2H 3H
                                    td.text-center 인터넷 예약시 사전 신청
                                tr.info
                                    td.text-center 점&nbsp;&nbsp;&nbsp;&nbsp;심&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;예&nbsp;&nbsp;&nbsp;&nbsp;약
                                    td.text-left 9월 이후
                                    td.text-center 별도 주문메뉴 가능
                    p.text-left
                        | * 신청 총인원이 50명 이상 시 3시간 전용 유람선 운영
                    h4
                        strong 그러나 가격과 출발시간은 일반 관람과 동일합니다!
                .col-md-6
                    iframe(width='100%', height='350', src='https://www.youtube.com/embed/ZaQRXJSZ9Tw', frameborder='0', allowfullscreen='')
            p.text-center
                br
                br
                a(href='/reservation/new')
                    button.btn.btn-primary.btn-lg
                        strong &nbsp;&nbsp;예 약&nbsp;&nbsp;바 로 가 기&nbsp;&nbsp;
        #info.space-50
        .section.section-gray
            .container
                .big-info
                    h3.text-center 이용 요금
                .row
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th.text-center 구분
                                    th.text-right 대인
                                    th.text-right 청소년
                                    th.text-right 소인
                                    th.text-right 유아
                            tbody
                                tr
                                    td.text-center 유람선 운임
                                    td.text-right 21,000 원
                                    td.text-right 21,000 원
                                    td.text-right 13,000 원
                                    td.text-right 0 원
                                tr
                                    td.text-center 장사도 입장료
                                    td.text-right 8,500 원
                                    td.text-right 7,000 원
                                    td.text-right 5,000 원
                                    td.text-right 0 원
                                tr
                                    td.text-center 옻칠회화관 관람료
                                    td.text-right 3,000 원
                                    td.text-right 2,000 원
                                    td.text-right 1,000 원
                                    td.text-right 0 원
                                tr
                                    td.text-center
                                        strong(style="color: red;") 특별할인
                                    td.text-right
                                        strong(style="color: red;") -3,000 원
                                    td.text-right
                                        strong(style="color: red;") -2,000 원
                                    td.text-right
                                        strong(style="color: red;") -1,000 원
                                    td.text-right
                                        strong(style="color: red;") 0 원
                                tr
                                    td.td-total 합계
                                    td.td-total 29,500 원
                                    td.td-total 28,000 원
                                    td.td-total 18,000 원
                                    td.td-total 0 원
                    p  ※ 청소년 : 중고등학생,     소인 : 만3세 ~ 초등학생,     유아 : 0 ~ 만2세
                    p  ※ 할증요금시행 : 주말, 공휴일, 하계수송기간(7/21 ~ 8/31) 유람선 운임에 1,000원 할증됩니다.
        // section
        .section.section-features-2
            .container
                h2.section-title 이용 방법
                .row
                    table.table.table-striped
                        tbody
                            tr
                                td.text-center.lead(style='white-space: nowrap')
                                    strong 1. 예약
                                td.text-left
                                    p
                                        a(href='/reservation/new')
                                            button.btn.btn-primary 인터넷 및 모바일 예약
                                        |  ( 전화문의 및 예약 : 1661-4428 )
                                    p  ※ 통영출발 신청인원 50명 이상 시 전용 유람선 운영 (10시 / 13시)
                            tr
                                td.text-center.lead(style='white-space: nowrap')
                                    strong 2. 발권
                                td.text-left
                                    p
                                        strong 장소 : &nbsp;
                                        | 유람선터미널 2층 매표소
                                        br
                                        strong 결제 : &nbsp;
                                        | 매표소 창구에서 “장사도 패키지 00명”후 결제
                                        br
                                        strong 승선명부작성 : &nbsp;
                                        | 비치된 승선명부에 관람인원 전원기재
                            tr
                                td.text-center.lead(style='white-space: nowrap')
                                    strong 3. 이동
                                td.text-left
                                    p
                                        | 유람선 출발시간은 각 유람선 터미널에서 확인
                                    table.table.table-bordered
                                        thead
                                            tr.success
                                                th.text-center
                                                    strong 유람선사
                                                th.text-center
                                                    strong 위치
                                                th.text-center
                                                    strong 전화번호
                                                th.text-center
                                                    strong 운항소요시간
                                        tbody
                                            tr
                                                td.text-center 통영유람선
                                                td.text-center 통영시 도남동
                                                td.text-center 055-645-2307
                                                td.text-center 40분
                                            tr
                                                td.text-center 장사도유람선
                                                td.text-center 거제 가배항
                                                td.text-center 055-638-1122
                                                td.text-center 30분
                                            tr
                                                td.text-center 남부유람선
                                                td.text-center 거제 저구항
                                                td.text-center 055-632-4500
                                                td.text-center 20분
                                            tr
                                                td.text-center 대포크루즈
                                                td.text-center 거제 대포항
                                                td.text-center 055-633-9401
                                                td.text-center 10분
                                    p  ※ 유람선은 기상/예약상황등에 따라 운항변동이 있으므로 유람선사에 반드시 확인 바랍니다.
                            tr
                                td.text-center.lead(style='white-space: nowrap')
                                    strong 4. 관람
                                td.text-left
                                    p
                                        h5
                                            span &nbsp; 도착 &nbsp;
                                            span.glyphicon.glyphicon-chevron-right
                                            span &nbsp; 순번대로 관람 &nbsp;
                                            span.glyphicon.glyphicon-chevron-right
                                            span &nbsp; "10번" 옻칠회화관 관람 &nbsp;
                                            span.glyphicon.glyphicon-chevron-right
                                            span &nbsp; 카페 할인권 수정 &nbsp;
                                            span.glyphicon.glyphicon-chevron-right
                                            span &nbsp; "17번" 카페 음료 할인
                                    table.table.table-bordered
                                        thead
                                            tr.success
                                                th.text-left(colspan=2)
                                                    strong &nbsp;체류시간 구분
                                        tbody
                                            tr
                                                td.text-left 2시간
                                                td.text-left 기본
                                            tr
                                                td.text-left 3시간
                                                td.text-left 전용선 운영시
                                            tr
                                                td.text-left 3시간 이상
                                                td.text-left 체류연장 신청고객 / 전용선 전세신청 단체고객
                                    table.table.table-bordered
                                        thead
                                            tr.success
                                                th.text-left(colspan=2)
                                                    strong &nbsp;중&nbsp;&nbsp;&nbsp;식
                                        tbody
                                            tr
                                                td.text-left 기본 메뉴
                                                td.text-left 멍게 비빔밥, 충무김밥
                                            tr
                                                td.text-left 별도 메뉴
                                                td.text-left 맛집음식 단체주문 후 장사도식당에서 식사
    .section
        .container
            .row
                .col-xs-6
                    h5.text-center
                        i.fa.fa-map-marker.text-muted
                        |  통영 터미널
                    p.text-muted.text-center
                        | 경상남도 통영시
                        br
                        | 도남로 269-38
                        br
                        | (통영시 도남동 634번지)
                .col-xs-6
                    h5.text-center
                        i.fa.fa-phone.text-muted
                        | 전화 문의/예약
                    p.lead.text-center
                        | 1661-4428